div.content{
    width: 100%;
    width: 1200px;
    padding: 40px; 
    padding-bottom: 115px;
    font-size:25px;
    color: rgb( 102, 0, 0);
    box-sizing: border-box;
    margin:0 auto; 
    text-align:center;
}

table.content{
    text-align: left;
    font-size:16px;
    color: rgb( 102, 0, 0);
}

.center {
    margin-left: auto;
    margin-right: auto;
  }