div.content{
    width: 100%;
    text-align: center;
    padding-top: 300px; 
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
    min-width: 1200px;
    font-size:18px;
    box-sizing: border-box;
    color: rgb( 102, 0, 0);
}
