div.content{
    width: 100%;
    min-width: 1200px;
    text-align: center;
    padding: 40px; 
    font-size:16px;
    color: rgb( 102, 0, 0);
}

table.content{
    text-align: left;
    font-size:16px;
    color: rgb( 102, 0, 0);
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

  a.content {
    color: rgb( 102, 0, 0);
}

a.content:hover {
    color: rgb(134, 6, 6);
}

a.content:link{
    text-decoration:none;
} 