footer {
}

div.footerContent{
    height: 75px;
    left: 0;
    width: 100%;
    min-width: 1200px;
    position: absolute;
}

div.footerBackground{   
    background-image: url("/images/background/rebenblatt.jpg");
    opacity: 0.3;  
    background-size: cover;
    position: absolute;
    height: 75px;
    width: 100%;
    min-width: 1200px;
}

ul.footer{
    margin-right: 30px;
    padding-bottom: 20px;
}

li.footer {
    float: right;
    padding-left: 30px;
    list-style-type: none;
}

a.footer {
    color: rgb( 102, 0, 0);
    font-size:22px;
    font-weight:bold;
}

a.footer:hover {
    color: rgb(134, 6, 6);
}

a.footer:link{
    text-decoration:none;
} 