div.infobar{
    background-color: rgb( 191, 3, 80);
    height: 220px;
    min-width: 1200px;
    width: 100%;
    position: relative;
}

.infobarContainer{
    float:left;
    height:150px;
    padding-right: 75px;
}

.infobarLegal{
    font-size: 18; 
    font-weight: bold;
    height:70px;
    float: right; 
    clear: both;
    padding-top: 15px;
    padding-right: 40px;
}

.infobarText{
    color: white;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

div.infobarCaption{
    font-size: 18px;
    color: #F2A36A;
    font-weight:bold;
    padding-top:10px;
    padding-bottom: 5px;
}

a.infobar {
    color: white
}

a.infobar:link{
    text-decoration:none;
}

a.infobar:hover {
    color: #F2A36A;
}

table.infobar {
    color: white;
    text-align: left;
    font-size: 16px;
}

li.infobar {
    padding-left: 20px;
    list-style-type: none;
    display: inline-block;
}