div.infobarDesktop{
    background-color: rgb( 191, 3, 80);
    height: 170px;
    min-width: 1200px;
    width: 100%;
    float: left;
    font-size: 16px;
}

div.infobarMobile{
    background-color: rgb( 191, 3, 80);
    height: 250px;
    min-width: 1200px;
    width: 100%;
    font-size: 23px;
}

div.infobarMobileLogo{
    background-color: rgb( 191, 3, 80);
    height: 250px;
    width: 100%;
    position: relative;
    min-width: 1200px;
}

hr.infobarMobileLine{
    border: 1px solid #F2A36A;
}

.infobarContainer{
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}

.infobarText{
    color: white;
    font-weight: normal;
    text-align: left;
}

div.infobarCaption{
    color: #F2A36A;
    font-weight:bold;
    padding-top:10px;
    padding-bottom: 5px;
}

a.infobar:link{
    text-decoration:none;
    color: white
}

table.infobar {
    color: white;
    text-align: left;
} 

div.center {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}