div.infobarDesktop{
    background-color: rgb( 191, 3, 80);
    height: 170px;
    min-width: 1200px;
    width: 100%;
    float: left;
    font-size: 16px;
}

div.infobarMobile{
    background-color: rgb( 191, 3, 80);
    height: 250px;
    min-width: 1200px;
    width: 100%;
    float: left;
    font-size: 23px;
}

.infobarContainer{
    float:left;
    padding-right: 40px;
}

.infobarText{
    color: white;
    font-weight: normal;
    text-align: left;
}

div.infobarCaption{
    color: #F2A36A;
    font-weight:bold;
    padding-top:10px;
    padding-bottom: 5px;
}

a.infobar:link{
    text-decoration:none;
    color: white
}

table.infobar {
    color: white;
    text-align: left;
} 