div.navigationbar{
    z-index: 1;
    top:170px;
    width: 100%;
    min-width: 1400px;
    position: absolute;
    height: 75px;
    margin-bottom: 75px;
    padding-top:15px;
}

div.navigationbarBackground{    
    background-image: url("/images/background/korken.jpg");
    opacity: 0.3;    
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

img.navigationbarIcon{
    width: 35px;
    height: 35px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top:-5px;
}

li.navigationbarLeft {
    float: left;
    margin-right: 20px;
    list-style-type: none;
}

li.navigationbarRight {
    float: right;
    margin-top: 2px;
    margin-right: 23px;
    list-style-type: none;
}

a.navigationbar {
    color: rgb( 102, 0, 0);
}

a.navigationbar:hover {
    color: rgb(134, 6, 6);
}

a.navigationbar:link{
    text-decoration:none;
} 

a.navigationbarLeft{
    font-size:28px;
    font-family: "Garamond";
    font-weight: bold;
}

a.navigationbarRight{
    font-size:23px;
}