html {
    min-height: 100%;
    margin:0;
    position: relative;
    }

body{
    margin: 0 0 75px; 
    width: 100%;
    min-width: 1200px;
    background: rgb(248, 248, 222);
    font-family: 'Times New Roman', Times, serif;
}