body{
    display: flex; 
    flex-direction: column;
    margin: 0;
    min-height: 100%;

    min-width: 1200px;
    background: rgb(248, 248, 222);
    font-family:Arial, Helvetica, sans-serif;
}

main 
{
    flex: 1;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 7px;
  }